<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>The Burgers are Better at Hungry Jacks</title>
		<script src="https://code.jquery.com/jquery.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>


<!-- To the best of my knowledge, this just works as an html page. We're calling jquery, which may be why there's no custom javascript page in the skeleton. Or I misread something. 50/50 chance.  -->
